<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程配置</title>
    <link href="vue/index.css" rel="stylesheet" type="text/css"/>
    <link href="css/course.css" rel="stylesheet"/>
    <script src="vue/vue.js"></script>
    <script src="vue/axios.min.js"></script>
    <script src="js/request.js"></script>
    <script src="vue/index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!-- 卡片视图区域 -->
<div id="course">

    <el-card>
        <!-- 搜索与添加区域 -->
        <el-row :gutter="20">
            <el-col :span="8">
                <el-input placeholder="请输入班级名" v-model="queryInfo.courseTitle" clearable @clear="getCourseList">
                    <el-button slot="append" icon="el-icon-search" @click="getCourseList"></el-button>
                </el-input>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" @click="addCourseDialog">添加班级</el-button>
            </el-col>
        </el-row>

        <!-- 列表区域 -->
        <el-table :data="courseList" border stripe>
            <el-table-column fixed label="课程标题" prop="courseTitle" width="200px"></el-table-column>
            <el-table-column label="课程图片" prop="courseUrl" width="200px">
                <!--加入下面的内容,scope.row代表这一行,img是显示这一行的哪个字段,我的是img,你的自己看下-->
                <template slot-scope="scope">
                    <img :src="scope.row.courseUrl" alt="" style="width: 175px;height: 100px">
                </template>
            </el-table-column>
            <el-table-column label="课程描述" prop="courseDesc" width="150px"></el-table-column>
            <el-table-column label="课程价格" prop="coursePrice" width="150px"></el-table-column>
            <el-table-column label="课程开始时间" prop="courseStartTime" width="150px"></el-table-column>
            <el-table-column label="课程结束时间" prop="courseEndTime" width="150px"></el-table-column>
            <el-table-column label="课程校区" prop="courseCampus" width="150px"></el-table-column>
            <el-table-column label="课程老师" prop="courseTeacher" width="150px"></el-table-column>
            <el-table-column label="班级是否已满" prop="courseFull" width="150px">
                <template slot-scope="scope">
                    <span :style="scope.row.courseFull==1? 'color:red':'color:#409EFF'">
                    {{scope.row.courseFull==1? '已满' : '未满'}}
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="课程库存数量" prop="courseStock" width="150px"></el-table-column>
            <el-table-column fixed="right" label="操作" width="200px">
                <template slot-scope="scope">
                    <!-- 修改按钮 -->
                    <el-button type="primary" icon="el-icon-edit" size="mini"
                               @click="showEditDialog(scope.row)"></el-button>
                    <!-- 删除按钮 -->
                    <el-button type="danger" icon="el-icon-delete" size="mini"
                               @click="removeCourseById(scope.row.courseId)"></el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页区域 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page="queryInfo.current" :page-sizes="[1, 2, 5, 10]" :page-size="queryInfo.offset"
                       layout="total, sizes, prev, pager, next, jumper" :total="total">
        </el-pagination>
    </el-card>
    <!-- 添加班级的对话框 -->
    <el-dialog title="添加班级" :visible.sync="addCourseDialogVisible" width="50%">
        <!-- 内容主体区域 -->
        <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="80px">
            <el-form-item label="班级标题" prop="courseTitle">
                <el-input v-model="addForm.courseTitle"></el-input>
            </el-form-item>
            <el-form-item label="图片地址">
                <el-input v-model="addForm.courseUrl"
                          type="textarea"
                          placeholder="请输入图片链接"
                          v-model="textarea"
                          maxlength="256"
                          show-word-limit
                >
                </el-input>
                <el-button size="mini" type="primary" icon="el-icon-search" @click="addImgDialogVisible = true">预览</el-button>
            </el-form-item>
            <el-form-item label="描述" prop="courseDesc">
                <el-input v-model="addForm.courseDesc"
                          type="textarea"
                          placeholder="请输入内容"
                          v-model="textarea"
                          maxlength="256"
                          show-word-limit
                >
                </el-input>
            </el-form-item>
            <el-form-item label="年级" prop="gradeId">
                <el-select v-model="addForm.gradeId" placeholder="选择年级">
                    <el-option
                            v-for="item in grades"
                            :key="item.id"
                            :label="item.gradeName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="价格" prop="coursePrice">
                <el-input v-model="addForm.coursePrice"></el-input>
            </el-form-item>
            <el-form-item label="开始时间" prop="courseStartTime">
                <el-date-picker
                        v-model="addForm.courseStartTime"
                        type="date"
                        placeholder="选择日期"
                        value-format="yyyy/MM/dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="courseEndTime">
                <el-date-picker
                        v-model="addForm.courseEndTime"
                        type="date"
                        placeholder="选择日期"
                        value-format="yyyy/MM/dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="校区" prop="courseCampus">
                <el-input v-model="addForm.courseCampus"></el-input>
            </el-form-item>
            <el-form-item label="老师" prop="courseTeacher">
                <el-input v-model="addForm.courseTeacher"></el-input>
            </el-form-item>
            <el-form-item label="班级人数" prop="courseStock">
                <el-input v-model="addForm.courseStock" oninput="value=value.replace(/[^\d]/g,'')"></el-input>
            </el-form-item>
        </el-form>
        <!-- 底部区域 -->
        <span slot="footer" class="dialog-footer">
<el-button type="primary" @click="resetAddCourse">重 置</el-button>
<el-button @click="addCourseDialogVisible = false">取 消</el-button>
<el-button type="primary" @click="addCourse">确 定</el-button>
</span>
    </el-dialog>

    <el-dialog :visible.sync="addImgDialogVisible">
        <img width="100%" :src="addForm.courseUrl" alt="">
    </el-dialog>

    <el-dialog :visible.sync="editImgDialogVisible">
        <img width="100%" :src="editForm.courseUrl" alt="">
    </el-dialog>

    <!-- 修改课程班级的对话框 -->
    <el-dialog title="修改班级" :visible.sync="editDialogVisible" width="50%" @close="editDialogClosed">
        <!-- 内容主体区域 -->
        <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="80px">
            <el-form-item label="班级标题" prop="courseTitle">
                <el-input v-model="editForm.courseTitle"></el-input>
            </el-form-item>
                <el-form-item label="图片地址">
                    <el-input v-model="editForm.courseUrl"
                              type="textarea"
                              placeholder="请输入图片链接"
                              v-model="textarea"
                              maxlength="256"
                              show-word-limit
                    >
                    </el-input>
                    <el-button size="mini" type="primary" icon="el-icon-search" @click="editImgDialogVisible =true">预览</el-button>
            </el-form-item>
            <el-form-item label="描述" prop="courseDesc">
                <el-input v-model="editForm.courseDesc"
                          type="textarea"
                          placeholder="请输入内容"
                          v-model="textarea"
                          maxlength="256"
                          show-word-limit
                >
                </el-input>
            </el-form-item>
            <el-form-item label="价格" prop="coursePrice">
                <el-input v-model="editForm.coursePrice"></el-input>
            </el-form-item>
            <el-form-item label="开始时间" prop="courseStartTime">
                <el-date-picker
                        v-model="editForm.courseStartTime"
                        type="date"
                        placeholder="选择日期"
                        value-format="yyyy/MM/dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="courseEndTime">
                <el-date-picker
                        v-model="editForm.courseEndTime"
                        type="date"
                        placeholder="选择日期"
                        value-format="yyyy/MM/dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="校区" prop="courseCampus">
                <el-input v-model="editForm.courseCampus"></el-input>
            </el-form-item>
            <el-form-item label="老师" prop="courseTeacher">
                <el-input v-model="editForm.courseTeacher"></el-input>
            </el-form-item>
            <el-form-item label="班级人数" prop="courseStock">
                <el-input v-model="editForm.courseStock" oninput="value=value.replace(/[^\d]/g,'')"></el-input>
            </el-form-item>
        </el-form>
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editCourseInfo">确 定</el-button>
        </span>
    </el-dialog>
</div>

</body>
<script>
    const checkPrice = (rule, value, cb) => {
        // 验证金额
        const regPrice = /((^[1-9]\d*)|^0)(\.\d{1,2}){0,1}$/

        if (regPrice.test(value)) {
            return cb()
        }
        cb(new Error('请输入合法的金额'))
    }
    new Vue({
        el: '#course',
        data: {
            uploadMsg: '只能上传.jpg图片,且不超过1M',
            grades: [],//下拉款年级选择
            queryInfo: {
                name: '',
                // 当前的页数
                current: 1,
                // 当前每页显示多少条数据
                offset: 10
            },
            courseList: [],
            total: 0,
            dialogImageUrl: '',
            addImgDialogVisible: false,
            editImgDialogVisible: false,
            addCourseDialogVisible: false,//添加班级
            addForm: {
                courseTitle: '',
                courseDesc: '',
                courseStartTime: '',
                courseEndTime: '',
                courseCampus: '',
                courseTeacher: '',
                courseStock: 0,
                coursePrice: 0,
                gradeId: '',
                courseUrl: ''
            },
            addFormRules: {
                courseTitle: [
                    {required: true, message: '请输入班级标题', trigger: 'blur'},
                    {
                        min: 5,
                        max: 30,
                        message: '班级标题的长度在5~30个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseDesc: [
                    {required: true, message: '请输入描述信息', trigger: 'blur'},
                    {
                        min: 5,
                        max: 256,
                        message: '班级标题的长度在5~256个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseTeacher: [
                    {required: true, message: '请输入老师名称', trigger: 'blur'},
                    {
                        min: 2,
                        max: 10,
                        message: '班级标题的长度在2~10个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseCampus: [
                    {required: true, message: '请输入校区名称', trigger: 'blur'},
                    {
                        min: 5,
                        max: 30,
                        message: '班级标题的长度在5~30个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseStartTime: [
                    {required: true, message: '请选择开始时间', trigger: 'blur'},
                ],
                courseEndTime: [
                    {required: true, message: '请选择结束时间', trigger: 'blur'},
                ],
                courseStock: [
                    {required: true, message: '请输入班级人数', trigger: 'blur'}
                ],
                coursePrice: [
                    {validator: checkPrice, trigger: 'blur'}
                ],
                gradeId: [
                    {required: true, message: '请选择年级', trigger: 'blur'},
                ]

            },
            editDialogVisible: false,
            editForm: {
                courseId: '',
                courseTitle: '',
                courseDesc: '',
                courseStartTime: '',
                courseEndTime: '',
                courseCampus: '',
                courseTeacher: '',
                courseStock: 0,
                coursePrice: 0,
                gradeId: '',
                courseUrl:''
            },
            editFormRules: {
                courseTitle: [
                    {required: true, message: '请输入班级标题', trigger: 'blur'},
                    {
                        min: 5,
                        max: 30,
                        message: '班级标题的长度在5~30个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseDesc: [
                    {required: true, message: '请输入描述信息', trigger: 'blur'},
                    {
                        min: 5,
                        max: 256,
                        message: '班级标题的长度在5~256个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseTeacher: [
                    {required: true, message: '请输入老师名称', trigger: 'blur'},
                    {
                        min: 2,
                        max: 10,
                        message: '班级标题的长度在2~10个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseCampus: [
                    {required: true, message: '请输入校区名称', trigger: 'blur'},
                    {
                        min: 5,
                        max: 30,
                        message: '班级标题的长度在5~30个字符之间',
                        trigger: 'blur'
                    }
                ],
                courseStartTime: [
                    {required: true, message: '请选择开始时间', trigger: 'blur'},
                ],
                courseEndTime: [
                    {required: true, message: '请选择结束时间', trigger: 'blur'},
                ],
                courseStock: [
                    {required: true, message: '请输入班级人数', trigger: 'blur'}
                ],
                coursePrice: [
                    {validator: checkPrice, trigger: 'blur'}
                ]

            }

        },
        created() {
            this.getCourseList()
        },
        methods: {
            addCourseDialog() {
                this.gradeList()
                this.addCourseDialogVisible = true
            },
            //获得年级列表
            gradeList() {
                get('/v1/api/grade/gradeList').then(res => {
                    if (res.code === 200) {
                        this.grades = res.data
                    }
                }).catch(err => {
                })
            },
            // 监听修改用户对话框的关闭事件
            editDialogClosed() {
                this.$refs.editFormRef.resetFields()
            },
            editCourseInfo() {
                this.$refs.editFormRef.validate(valid => {
                    if (!valid) return
                    post('/v1/api/admin/editCourse', this.editForm).then(res => {
                        if (res.code === 200) {
                            this.$message({
                                message: res.message,
                                type: 'success'
                            });
                            this.editDialogVisible = false
                            this.$refs.editFormRef.resetFields()
                            this.getCourseList()
                            return
                        }
                        this.$message.error(res.message);
                    })

                })
            },
            showEditDialog(row) {
                this.gradeList()
                this.editForm.courseId = row.courseId
                this.editForm.courseTitle = row.courseTitle
                this.editForm.courseDesc = row.courseDesc
                this.editForm.courseStartTime = row.courseStartTime
                this.editForm.courseEndTime = row.courseEndTime
                this.editForm.courseCampus = row.courseCampus
                this.editForm.courseTeacher = row.courseTeacher
                this.editForm.courseStock = row.courseStock
                this.editForm.coursePrice = row.coursePrice
                this.editForm.courseUrl = row.courseUrl
                this.editDialogVisible = true
            },
            removeCourseById(course_id) {
                // 弹框询问用户是否删除数据
                this.$confirm(
                    '此操作将永久删除该用户, 是否继续?',
                    '提示',
                    {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }
                ).then(() => {
                    get('/v1/api/admin/removeCourse', {
                        courseId: course_id
                    }).then(res => {
                        if (res.code === 200) {
                            this.$message({
                                message: res.message,
                                type: 'success'
                            });
                            this.getCourseList()
                            return
                        }
                        this.$message.error(res.message);

                    }).catch(err => {


                    })


                }).catch(err => err)

            },
            resetAddCourse() {
                this.$refs.addFormRef.resetFields()
            },
            addCourse() {
                this.$refs.addFormRef.validate(valid => {
                    if (!valid) return
                    post('/v1/api/admin/addCourse', this.addForm).then(res => {
                        if (res.code === 200) {
                            this.$message({
                                message: res.message,
                                type: 'success'
                            });
                            this.addCourseDialogVisible = false
                            this.$refs.addFormRef.resetFields()
                            this.getCourseList()
                            return
                        }
                        this.$message.error(res.message);
                    })
                })
            },
            getCourseList() {
                post('/v1/api/admin/getCourseList', this.queryInfo).then(res => {
                    if (res.code === 200) {
                        this.courseList = res.data.records
                        this.total = res.data.total
                    }
                }).catch(err => {
                })
            },
            // 监听 pagesize 改变的事件
            handleSizeChange(newSize) {
                this.queryInfo.offset = newSize
                this.getCourseList()
            },
            // 监听 页码值 改变的事件
            handleCurrentChange(newPage) {
                this.queryInfo.current = newPage
                this.getCourseList()
            }
        }


    })


</script>
</html>